mixin about()
	section#about.about-section
		.container
			.about-card
				header.about-card__header
					h2 Ποιός είμαι
					h4 Ερευνητής και Προγραμματιστής
				.about-card__info
					p Γεννήθηκε στην Γιούλα της Ουγγαρίας το 1988, από το 2013 είναι κάτωχος πτυχίου στα Δίκτυα και Προγραμματισμό Συστημάτων από το Πανεπιστήμιο Κύπρου. Μετέπειτα, αποφάσισε να επεκτείνει τις γνώσεις περι εξοικονόμησεις ενεργειάς κάνοντας μεταπτυχιακό στο PERCCOM (Διάχυτη Πληροφορική και Επικοινωνία σε βιώσιμα υλοποίηση συστημάτων). Στα πλαίσια του μεταπτυχιακού του, είχε παρακολουθήσει σχετικά θέματα στην Γαλλία (Πανεπιστήμιο της Λορέιν), στην Φιλανδία (Τεχνολογικό Πανεπιστήμιο της Λαππενράντα), στην Σουϊδία (Τεχνολογικό Πανεπιστήμιο της Λουλέα), και στην Ρωσία (Πανεπιστήμιο ΙΤΜΟ) για δύο χρόνια, στο σύνολο. Από όλες τις χώρες που ταξίδεψε αποκόμισε γνώσεις στο πεδίο της εξοικονόμισης ενέργειας στο πληροφορικά συστήματα, στη αποτελεσματική χρήση υπολογηστικών πόρων, και στην ενεργειακή εξικοινόμιση στη δημιουργεία λογισμικού.   
					blockquote
						p "Η μόρφωση είναι διαβατήριο στο μέλλον, για το αύριο ανήκει σε αυτούς που το ετοιμάζουν σήμερα." -- Malcolm X
					p Σήμερα, εκπονεί την διδακτορική του εργασία στον προγραμμα SENECA (Μηχανική Λογισμικού για Εταιριακά Υπολογιστηκά Νέφη), ένα Marie-Curie έργο που χρηματοδοτείτε από το πρόγραμμα του Ορίζοντα 2020. Το θέμα της διατριβής αφορά την Εξοικονόμιση Ενέργειας στο Υπολογιστηκό Νέφος και βρίσκεται υπό την επίβλεψη του καθηγητή κο. Διομίδη Σπινέλλη από του Οικονομικό Πανεπιστήμιο Αθηνών και την Δρ. Σταματία Ρίζου από την Singular Logic. Στόχος του διδακτορικού αυτού είναι εξοικονόμιση ενέργειας σε Νεφο-γενή υπολογιστηκά συστήματα χρησιμοποιώντας πρακτικές και τεχνικές μηχανικής λογισμικού.
					p.about-card__info-status
						span Παρόν κατάσταση:
						|  Αναμένεται να πάρει το τίτλο του διδάκτορα το 2019
