mixin contacts()
	#contacts.contacts-section
		.container
			section.contact-card
				header.contact-card__header
					h2 Πληροφορίες επικοινωνίας
					h4 
				.contact-info
					.contact-info__logo JD
					.contact-info__group
						.contact-info__additional
							p Μπορείτε να με βρείτε στην Τροίας 2 (στο Ισόγειο)
							p κάθε Παρασκευή στις 14:00-16:00
						.contact-info__vcard.vcard
							h4.fn.org Στέφανος Γεωργίου
							p.role.title Υποψήφιος Διδάκτορ στο ΔΕΤ
							p.icon.icon_location
								a.adr.js-anchor(href="#gmap")
									span.country-name Ελλάδα
									| ,&nbsp;
									span.locality Αθήνα
							p.icon.icon_mail
								a.email(href="sgeorgiou@aueb.gr") sgeorgiou@aueb.gr
							p.icon.icon_phone
								a.email(href="tel:1111111111") Μπορείτε να με βρείτε στο εργασήριο BALAB
						ul.contact-info__social
							li
								a.icon.icon_fb(rel="nofollow") Facebook
							li
								a.icon.icon_twi(rel="nofollow") Twitter
							li
								a.icon.icon_gplus(rel="nofollow") Google+
							li
								a.icon.icon_vk(rel="nofollow") Vk
							li
								a.icon.icon_in(rel="nofollow") Linkedin 
		#gmap.gmap
