mixin header()
	header.main-header
		.first-nav
			.container
				nav.first-nav__links
					ul
						li
							a.is-selected Ελληνικά
						li
							a(href="home.html") Αγγλικά
						li
							a(href="home_hu.html") Ουγγρικά

				a.first-nav__navcontrol.icon.icon_menu.js-navcontrol(href="#") Μενού
		.second-nav.js-nav
			.container
				a.second-nav__logo: span JD
				nav.menu
					ul
						li
							a.js-link.js-anchor.is-selected(href="#home") Κύρια
						li
							a.js-link.js-anchor(href="#about") Γία μένα
						li
							a.js-link.js-anchor(href="#services") Υπηρεσίας
						li
							a.js-link.js-anchor(href="#process") Διαδικασίας
						li
							a.js-link.js-anchor(href="#projects") Έργα
						li
							a.js-link.js-anchor(href="#testimonials") Πιστοποιητικά
						li
							a.js-link.js-anchor(href="#contacts") Επικοινωνία
