mixin home()
	section#home.home-section
		.home-section__bg
		.home-section__overlay
			.container
				header.home-section__header
					h1 Στέφανος Γεωργίου
					h2 Υποψήφιος Διδάκτορ στο ΔΕΤ του Οικονομικού Πανεπιστημίου Αθηνών
