mixin process()
	section#process.common-section
		.container
			header.common-section__header
				h2 Πως κάνουμε έρευνα
				h4 Αν συνεργαστούμε, πρέπει να σκεφτείτε τα πιο κάτω
			.grid-container
				ul.process
					li.process__step.process__step_research
						.process__step-icon.icon.icon_research.is-active
					li.process__step-info.process__step-info_research.is-active
						h3
							span Βήμα 1
							|  &mdash; Σχετική Βιβλιογραφία
							p Μόλις βρείτε το θέμα που σας ενδιαφέρει, αρχίστε να διαβάζετε την σχετική βιβλιογραφία από συνέδια από τος κορυφαίες βαθμίδες. Αυτό θα σας βοηθήσει να βρείτε πιθανά κενά στην ερέυνα που θα θέλετε να κάνετε.
					li.process__step.process__step_develop
						.process__step-icon.icon.icon_develop
					li.process__step-info.process__step-info_develop
						h3
							span Βήμα 2
							|  &mdash; Πειραματική Μέθοδος
							p Ψάξτε να  βείτε δεδομένα ανοικτής πρόσβασης για το πείραμα σας. Μαζέψτε όλα τα απαιρούμενα εργαλεία που χρειάζεστε για το πείραμα σας. Είναι σημαντικό να οικειοποιήθετε με τα εργαλεία σας που θα κάνετε την έρευνα σας και να βείτε τα θετικά και τα αρνητικά τους.
					li.process__step.process__step_deploy
						.process__step-icon.icon.icon_deploy
					li.process__step-info.process__step-info_deploy
						h3
							span Βήμα 3
							|  &mdash; Ανάλυση Αποτελεσμάτων
							p Η ανάλυση και η βαθυά επεξήγηση των απατελεσμάτων είναι το γεγονός που δίνει ποιότητα στην ερευνά σας. Περισσότερη επεξήγηση και δικαιολόγηση των αποτελεσμάτων είναι το γεγονός που θα κάνει την δουλεία σας αποδεκτή στο ευρή ερευνητικό κοινό.
					li.process__step.process__step_deliver
						.process__step-icon.icon.icon_deliver
					li.process__step-info.process__step-info_deliver
						h3
							span Βήμα 4
							|  &mdash; Συπεράσματα Ερεύνας
							p Γράψτε συνοπτικά την κεντρική ιδέα και τα σημεία που θέλετε να αφομοιώσουν άλλοι ερευνητές.
