mixin about()
	section#about.about-section
		.container
			.about-card
				header.about-card__header
					h2 About Stefanos
					h4 Researcher and Programmer
				.about-card__info
					p Was born in 1988 in Gyula of Hungary, in 2013 he received his BSc degree in Networks and Systems Programming from the University of Cyprus. Afterwards, he decided to expand his knowledge in the form of Masters in PERCCOM (PERvasive Computing and COMmunications for sustainable development). For his Masters, he studied in France (University of Lorraine), Finland (Lappeenranta University of Technology), Sweden (Luleå University of Technology), and Russia (ITMO University of Saint Petersburg) where he spent two years, overall. From each place, he obtained knowledge from various fields of GreenIT such as pervasive computing, efficient resource management, energy efficient programming.

					p Currently, he is pursuing his PhD in SENECA (Software Engineering for Enterprise Cloud Applications), a Marie-Curie project founded under the Horizon 2020 framework. His research interests lies in the energy efficiency of software development such as programming languages, coding practices, and so on, and he is supervised by Prof. Diomidis Spinellis from Athens University of Business and Economics and by Dr. Stamatiou Rizou from Singular Logic. He aims to reduce energy consumption for applications by utilizing software development techniques and methods.
					p.about-card__info-status
						span Current status:
						|  Expecting to finish his PhD in 2019
