mixin about()
	section#about.about-section
		.container
			.about-card
				header.about-card__header
					h2 About Stefanos
					h4 Researcher and Programmer
				.about-card__info
					p Was born in 1988 in Gyula of Hungary, in 2013 he received his BSc degree in Networks and Systems Programming from the University of Cyprus. Afterwards, he decided to expand his knowledge in the form of Masters in PERCCOM (PERvasive Computing and COMmunications for sustainable development). For his Masters, he studied in France (University of Lorraine), Finland (Lappeenranta University of Technology), Sweden (Luleå University of Technology), and Russia (ITMO University of Saint Petersburg) where he spent two years, overall. From each place, he obtained knowledge from various fields of GreenIT such as pervasive computing, efficient resource management, energy efficient programming.
					p Moreover, he has a PhD in Computer Science from Athens University of Economics and Business. His PhD title is "Energy and Run-Time performance Practices in Software Engineering" and it was supervised from Prof. Diomids Spinellis.
					p Currently, he a PostDoctoral Fellow at Queen's University in SEAL lab under the supervision of Jenny Zou. His research interests lies in the energy efficiency software development, Green AI, and Mining Software Repositories.
					p.about-card__info-status
						span Current status:
						|  PostDoctoral fellow since 2021
