mixin contacts()
	#contacts.contacts-section
		.container
			section.contact-card
				header.contact-card__header
					h2 Contact information
					h4 
				.contact-info
					.contact-info__logo JD
					.contact-info__group
						.contact-info__additional
							p You can find me at Trois 2 (Ground floor) 
							p every Friday from 14:00-16:00
						.contact-info__vcard.vcard
							h4.fn.org Stefanos Georgiou
							p.role.title PhD Candidate in DMST
							p.icon.icon_location
								a.adr.js-anchor(href="#gmap")
									span.country-name Greece
									| ,&nbsp;
									span.locality Athens
							p.icon.icon_mail
								a.email(href="sgeorgiou@aueb.gr") sgeorgiou@aueb.gr
							p.icon.icon_phone
								a.email(href="tel:1111111111") Find me in the BALab
						ul.contact-info__social
							li
								a.icon.icon_fb(rel="nofollow") Facebook
							li
								a.icon.icon_twi(rel="nofollow") Twitter
							li
								a.icon.icon_gplus(rel="nofollow") Google+
							li
								a.icon.icon_vk(rel="nofollow") VK
							li
								a.icon.icon_in(rel="nofollow") Linkedin
		#gmap.gmap
