mixin process()
	section#process.common-section
		.container
			header.common-section__header
				h2 How we do research
				h4 Upon collaboration, these facts are advised to be considered
			.grid-container
				ul.process
					li.process__step.process__step_research
						.process__step-icon.icon.icon_research.is-active
					li.process__step-info.process__step-info_research.is-active
						h3
							span Step 1
							|  &mdash; Related Work
							p Upon finding a subject of interest, start reading related work from top tier conferences. This will help you to identify possible research gap to contribute.
					li.process__step.process__step_develop
						.process__step-icon.icon.icon_develop
					li.process__step-info.process__step-info_develop
						h3
							span Step 2
							|  &mdash; Experimental Method
							p Search for a valid and open source data-set for your experiment. Collect the necessary equipment and utilities to perform the experiment. It is important to get familiar with the tools used in your research and to identify their pros and cons.
					li.process__step.process__step_deploy
						.process__step-icon.icon.icon_deploy
					li.process__step-info.process__step-info_deploy
						h3
							span Step 3
							|  &mdash; Analyze Results
							p Analyzing and providing a deep understanding of the results is what gives quality to a researcher. The more you can explain and justify your results the more convincing and acceptable your work will be in the research society.
					li.process__step.process__step_deliver
						.process__step-icon.icon.icon_deliver
					li.process__step-info.process__step-info_deliver
						h3
							span Step 4
							|  &mdash; Draw Conclusions
							p A wrap up of the whole research and the points you would like to highlight for researchers.
