mixin projects()
	section#projects.common-section
		header.common-section__header
			h2 Projects
			p Works that are still in progress but deployable too.

		.projects-wrap
			.grid-container
				.projects
					figure.projects__item
						img(src="static/images/projects/1.jpg" alt="rosetta_code_research")
						figcaption
							a.icon.icon_link(href="https://github.com/stefanos1316/Rosetta_Code_Research_MSR" rel="nofollow") What Are Your Programming Language's Energy-Delay Implications?
					figure.projects__item
						img(src="static/images/projects/2.jpg" alt="energy_monitoring_tools")
						figcaption
							a.icon.icon_link(href="https://github.com/stefanos1316/SEMTs_Comparisson" rel="nofollow") Monitor your applications' energy dissipation
					figure.projects__item
						img(src="static/images/projects/5.jpg" alt="validateLinks")
						figcaption
							a.icon.icon_link(href="https://github.com/stefanos1316/validateLinks" rel="nofollow") Are you sure you are not having any broken links? Try our software!
					figure.projects__item
						img(src="static/images/projects/6.jpg" alt="Donec non ligula imperdiet, tincidunt quam ut, pellentesque nisi")
						figcaption
							a.icon.icon_link(href="#" rel="nofollow") Donec non ligula imperdiet, tincidunt quam ut, pellentesque nisi
					//figure.projects__item
					//	img(src="static/images/projects/3.jpg" alt="Mauris a sem semper, maximus metus vitae, efficitur turpis")
					//	figcaption
					//		a.icon.icon_link(href="#" rel="nofollow") Mauris a sem semper, maximus metus vitae, efficitur turpis
					//figure.projects__item
					//	img(src="static/images/projects/4.jpg" alt="Nunc sit amet massa id sem pretium luctus")
					//	figcaption
					//		a.icon.icon_link(href="#" rel="nofollow") Nunc sit amet massa id sem pretium luctus
					//figure.projects__item
					//	img(src="static/images/projects/7.jpg" alt="Nunc elementum arcu sit amet erat sodales fringilla")
					//	figcaption
					//		a.icon.icon_link(href="#" rel="nofollow") Nunc elementum arcu sit amet erat sodales fringilla
					//figure.projects__item
					//	img(src="static/images/projects/8.jpg" alt="Cras condimentum venenatis aliquet")
					//	figcaption
					//		a.icon.icon_link(href="#" rel="nofollow") Cras condimentum venenatis aliquet
