mixin about()
	section#about.about-section
		.container
			.about-card
				header.about-card__header
					h2 About me
					h4 Researcher and Programmer
				.about-card__info
					p Was born in 1988 in Gyula of Hungary, he is a holder of BSc degree in Networks and Systems Programming from University of Cyprus that was received in 2013. Afterwards, he decided to expand his knowledge in the form of Masters in PERCCOM (PERvasive Computing and COMmunications for sustainable development). For his Masters he studied in France (University of Lorraine), Finland (Lappeenranta University of Technology), Sweden (Luleå University of Technology), and Russia (ITMO University), where he spends two years, overall. From each place he obtained knowledge from different fields of GreenIT such as pervasive computing, efficient resource management, energy efficient programming. 
					blockquote
						p "Education is the passport to the future, for tomorrow belongs to those who preparefor it today." -- Malcolm X
					p To this end, he is pursuing his PhD in SENECA (Software Engineering for Enterprise Cloud Applications), a Marie-Curie project founded under the Horizon 2020 framework. His PhD topic is Energy Efficiency in Cloud Computing and he is supervised by Prof. Diomidis Spinellis from Athens University of Business and Economics and by Dr. Stamatiou Rizou from Singular Logic. He aims to reduce energy consumption from Cloud-based systems by using software engineering practices and techniques.
					p.about-card__info-status
						span Current status:
						|  Expecting to finish PhD his in 2019
