mixin services()
	section#services.common-section
		.container
			header.common-section__header
				h2 Services
				h4 Including, but not limited to...
			.grid-container
				ul.services.services_advisory
					li.services__item.icon.icon_research
						h4 Researching
						p Under construction
					li.services__item.icon.icon_strategy
						h4 Practices
						p Under construction
					li.services__item.icon.icon_improve
						h4 Presentations	
						p Under construction
				ul.services.services_pm
					li.services__item.icon.icon_plan
						h4 Writing
						p Under construction
					li.services__item.icon.icon_recover
						h4 Developing
						p Under construction
					li.services__item.icon.icon_support
						h4 Team Work
						p Under construction
				.advantages
					h2 Why choose me?
					blockquote
						p Passionated about learning new, cutting-edge technologies and experimenting with them. I always try to get a deeper understanding of the pros and cons in order to draw the most optimal solutions while staying tuned with the current progress in my field of studies. During my studies, I focused on enchancing, not only, my technical but also my writing skills in the form of research papers by writing in top tier conferences and journals.  
						cite Stefanos Georgiou PhD Candidate in Computer Science
