mixin about()
	section#about.about-section
		.container
			.about-card
				header.about-card__header
					h2 Az Istvánról
					h4 Kutató és Programozó
				.about-card__info
					p 1988-ban születettem Gyulán, Magyarországon. Diplomámat a Ciprusi Nicosiai Egyetemen szereztem meg 2013-ban , BSc minősitésben, a Hálózatok és Rendszerek Programozásában. Az egyetemet mesterképzes követte PERCCOM(PERvasive Computing and COMmunications for sustainable development) program keretén belül. Tanulmányaimat Franciaországban (Lorraine Egyetemen), Finnországban (Lappeenranta Műszaki Egyetemen), Svédországban (Luleå Műszaki Egyetemen) és Oroszországban (ITMO Egyetemen) végeztem,két év alatt. PERCCOM programban való részvételem sokat segitett abban,hogy tudásom sokoldalú és változatos lett. Ismereteket szereztem. a GreenIT különböző területeiről, mint például energiatakarékosság számítástechnikai rendszerek működése terén, a hatékony erőforrás-gazdálkodás, az energiatakarékos programozás.
					p Ezek a szavak vezéreltek ,amikor elkeztem PhD-t egyéni ösztöndijasként a Horizon 2020 Marie-Curie program keretén belül a SENECA (Szoftverfejlesztés Enterprise Cloud Applications) projektben. A PhD-m témája a Cloud Computing energiahatékonysága,valamint újfajta eljárasokkal, szoftverfejlesztéssel és különféle technikák alkalmazásával csökkenteni a felhőalapú rendszerek energiafogyasztását. Tudományos tanácsadóim: Diomidis Spinellis, az Athéni Üzleti és Közgazdaságtudományi Egyetem professzora és Dr. Stamatiou Rizou a Singular Logic cég tanácsadója.
					p.about-card__info-status
						span Jelenlegi állapot:
						|  Várakozás, hogy befejezze a doktorátusát 2019-ben
