mixin header()
	header.main-header
		.first-nav
			.container
				nav.first-nav__links
					ul
						li
							a.is-selected Magyar
						li
							a(href="home_gr.html") Görög
						li
							a(href="home.html") Angol 

				a.first-nav__navcontrol.icon.icon_menu.js-navcontrol(href="#") Menü
		.second-nav.js-nav
			.container
				a.second-nav__logo: span JD
				nav.menu
					ul
						li
							a.js-link.js-anchor.is-selected(href="#home") Főoldal
						li
							a.js-link.js-anchor(href="#about") Rólam
						li
							a.js-link.js-anchor(href="#services") Szolgáltatások
						li
							a.js-link.js-anchor(href="#process") Folyamat
						li
							a.js-link.js-anchor(href="#projects") Projects
						li
							a.js-link.js-anchor(href="#contacts") Kapcsolatba lépni
