mixin process()
	section#process.common-section
		.container
			header.common-section__header
				h2 Hogyan kutatunk	
				h4 Az együttműködés során ezeket a tényeket tanácsos figyelembe venni
			.grid-container
				ul.process
					li.process__step.process__step_research
						.process__step-icon.icon.icon_research.is-active
					li.process__step-info.process__step-info_research.is-active
						h3
							span Step 1
							|  &mdash; Kutatás
							p Amennyiben szembesülök egy érdekes témával elkezdek kutatni a legmagasabb szinten, ami segiségemre van abban, hogy kutatásaim költsegeihez pályazatokon keresztűl anyagi hozzájarulást kapjak.
					li.process__step.process__step_develop
						.process__step-icon.icon.icon_develop
					li.process__step-info.process__step-info_develop
						h3
							span Step 2
							|  &mdash; Gyakorlati megvalósitás
							p Keresek egy érvényes és bárki által hozzáférhető adatkészletet a kísérleteimhez. Összegyüjtöm a szükséges programokat és segédprogramokat a kísérlet végrehajtásához. Fontos, hogy alaposan megismerjem a kutatás során felhasznált adatokkat és tudatában legyek az előnyőnyeivelel  és hátrányaival.
					li.process__step.process__step_deploy
						.process__step-icon.icon.icon_deploy
					li.process__step-info.process__step-info_deploy
						h3
							span Step 3
							|  &mdash; Eredmények értékelése
							p “Az eredmények értékelése és megértése az, ami minőséget biztosítanak a kutatónak”. Őszintén hiszek abban, hogy minél többet tudok megmagyarázni és igazolni a végeredményből, annál elismertebb, keresetebb szakemberré válok.
					li.process__step.process__step_deliver
						.process__step-icon.icon.icon_deliver
					li.process__step-info.process__step-info_deliver
						h3
							span Step 4
							|  &mdash; Fejlesztés
							p Mert számomra érdekes az új, élvonalbeli technológiák elsajátítása és a kísérletezés. Mindig az vezérel,hogy megtaláljam a legoptimálisabb megoldásokat, figyelembe véve az előnyöket és hátrányokat, miközben összhangban vagyok fejlődéssel. Tanulmányaim során számomra a legfontosabb sokoldalú tudást szerezni, nemcsak a szoftverfejlesztésben, hanem az informatika  más területein is.
