mixin process()
	section#process.common-section
		.container
			header.common-section__header
				h2 Hogyan kutatunk	
				h4 Az együttműködés során ezeket a tényeket tanácsos figyelembe venni
			.grid-container
				ul.process
					li.process__step.process__step_research
						.process__step-icon.icon.icon_research.is-active
					li.process__step-info.process__step-info_research.is-active
						h3
							span Step 1
							|  &mdash; Kapcsolódó munka
							p Ha talál egy érdekes témát, elkezd olvasni a kapcsolódó munkát a felső szintű konferenciákról. Ez segít abban, hogy azonosítsák a lehetséges kutatási rést a hozzájáruláshoz.
					li.process__step.process__step_develop
						.process__step-icon.icon.icon_develop
					li.process__step-info.process__step-info_develop
						h3
							span Step 2
							|  &mdash; Kísérleti módszer
							p Keressen egy érvényes és nyílt forráskódú adatkészletet a kísérlethez. Gyűjtse össze a szükséges felszerelést és segédprogramokat a kísérlet végrehajtásához. Fontos, hogy megismerkedjen a kutatás során alkalmazott eszközökkel és azonosítsa az előnyeiket és hátrányait.
					li.process__step.process__step_deploy
						.process__step-icon.icon.icon_deploy
					li.process__step-info.process__step-info_deploy
						h3
							span Step 3
							|  &mdash; Elemezze az eredményeket	
							p Az eredmények elemzése és az eredmények mély megértése az, ami minőséget biztosít a kutatóknak. Minél többet tudsz megmagyarázni és igazolni az eredményeket, annál meggyőzőbb és elfogadhatóbb a munkád a kutatási társadalomban.
					li.process__step.process__step_deliver
						.process__step-icon.icon.icon_deliver
					li.process__step-info.process__step-info_deliver
						h3
							span Step 4
							|  &mdash; Levonni a következtetést
							p Az egész kutatás befejezése és a kutatók számára kiemelt pontok.
